<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title><#if title?exists><@title/></#if></title>
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="alternate icon" type="image/png" href="/assets/web/images/favicon.png">
    <link rel="icon" href="/assets/web/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" type="text/css" href="/assets/web1/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/web1/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/assets/web1/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" type="text/css" href="/assets/web1/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/web1/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="/assets/web1/css/animates.css" />
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/assets/web1/js/selectivizr.js" ></script>
    <![endif]-->

</head>

<body style="">

<#include "../include/web1/header.ftl.html"/>
<#if body?exists><@body/></#if>
<#include "../include/web1/footer.ftl.html"/>

<#if footer?exists><@footer/></#if>

</body>
</html>