<#include "/yun/views/layout/web1.layout.ftl.html" />
<#macro title>医疗卫生行业优秀软件展示平台</#macro>

<#macro body>

    <section class="banner">
        <div><a href=""><img src="/assets/web/images/0.jpg" alt=""></a></div>
        <div><a href=""><img src="/assets/web/images/1.jpg" alt=""></a></div>
        <div><a href=""><img src="/assets/web/images/2.jpg" alt=""></a></div>
        <div><a href=""><img src="/assets/web/images/3.jpg" alt=""></a></div>
        <div><a href=""><img src="/assets/web/images/4.jpg" alt=""></a></div>
        <div><a href=""><img src="/assets/web/images/5.jpg" alt=""></a></div>
    </section>

    <div class="sypro">
        <div class="container">
            <div class="sytit-wrap fadeInDown wow">
                <div class="sytit">
                    <div class="sytitwrap">
                        <h3>优秀系统</h3>
                        <b>TRUELAND PRODUCT SERIES</b>
                    </div>
                </div>
                <p>致力于医疗卫生行业优秀软件展示平台，全面提供增值服务；为医院创造最大价值，真诚回馈和服务社会</p>
            </div>

            <div class="syprocon">
                <ul class="clearfix">
                    <li class="fadeIn wow" data-wow-delay="0.2s">
                        <a id="link1" href="/">
                            <div class="syprotxt">
                                <h3>
                                    <#list categoryList as item>
                                        <#if item??&&item_index==0>
                                            ${item.name}
                                        </#if>
                                    </#list>
                                </h3>
                                <span></span>
                                <p id = "summary1">
                                    摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要....
                                </p>
                            </div>
                            <div class="pic">
                                <img id = "attach1" class="vcenter" src="/assets/web1/images/sypro1.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                    <li class="fadeIn wow" data-wow-delay="0.2s">
                        <a id="link2" href="/">
                            <div class="syprotxt">
                                <h3>
                                    <#list categoryList as item>
                                        <#if item??&&item_index==1>
                                            ${item.name}
                                        </#if>
                                    </#list>
                                </h3>
                                <span></span>
                                <p id = "summary2">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要....</p>
                            </div>
                            <div class="pic">
                                <img id = "attach2" class="vcenter" src="/assets/web1/images/sypro1.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                    <li class="last fadeIn wow" data-wow-delay="0.2s">
                        <a id="link3" href="/">
                            <div class="syprotxt">
                                <h3>
                                    <#list categoryList as item>
                                        <#if item??&&item_index==2>
                                            ${item.name}
                                        </#if>
                                    </#list>
                                </h3>
                                <span></span>
                                <p id = "summary3">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要....</p>
                            </div>
                            <div class="pic">
                                <img id = "attach3" class="vcenter" src="/assets/web1/images/sypro1.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="syprocon">
                <ul class="clearfix">
                    <li class="fadeIn wow" data-wow-delay="0.2s">
                        <a id="link4" href="/">
                            <div class="syprotxt">
                                <h3>
                                    <#list categoryList as item>
                                        <#if item??&&item_index==3>
                                            ${item.name}
                                        </#if>
                                    </#list>
                                </h3>
                                <span></span>
                                <p id = "summary4">
                                    摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要....
                                </p>
                            </div>
                            <div class="pic">
                                <img id = "attach4" class="vcenter" src="/assets/web1/images/sypro1.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                    <li class="fadeIn wow" data-wow-delay="0.2s">
                        <a id="link5" href="/">
                            <div class="syprotxt">
                                <h3>
                                    <#list categoryList as item>
                                        <#if item??&&item_index==4>
                                            ${item.name}
                                        </#if>
                                    </#list>
                                </h3>
                                <span></span>
                                <p id = "summary5">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要....</p>
                            </div>
                            <div class="pic">
                                <img id = "attach5" class="vcenter" src="/assets/web1/images/sypro1.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                    <li class="last fadeIn wow" data-wow-delay="0.2s">
                        <a id="link6" href="/">
                            <div class="syprotxt">
                                <h3>
                                    <#list categoryList as item>
                                        <#if item??&&item_index==5>
                                            ${item.name}
                                        </#if>
                                    </#list>
                                </h3>
                                <span></span>
                                <p id = "summary6">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要....</p>
                            </div>
                            <div class="pic">
                                <img id = "attach6" class="vcenter" src="/assets/web1/images/sypro1.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="syabout">
        <div class="container">
            <div class="syaredbg">
                <div class="syawhitebg">
                    <div class="syaleft pull-left fadeInLeft wow">
                        <div class="pic">
                            <img class="vcenter" src="/assets/web1/images/syab.jpg" alt="" />
                        </div>
                    </div>
                    <div class="syaright pull-right fadeInRight wow">
                        <h3>BRIEF INTRODUCTION</h3>
                        <b>综合管理云平台简介</b>
                        <span></span>
                        <p>
                            致力于医疗卫生行业优秀软件展示平台；<br />全面提供增值服务；<br />为医院创造最大价值；<br />真诚回馈和服务社会。
                        </p>
                        <a href="/">→查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="synews">
        <div class="container">
            <div class="sytit-wrap fadeInDown wow">
                <div class="sytit">
                    <div class="sytitwrap">
                        <h3>最新系统</h3>
                        <b>NEW SYSTEM&INFORMATION</b>
                    </div>
                </div>
                <p>致力于展示高附加值系统，全面提供增值服务；为医院创造最大价值，真诚回馈和服务社会</p>
            </div>

            <ul>
                <#list softList as item>

                    <#if item_index%2==1>
                        <li class="clearfix">
                            <div class="pic pull-left fadeInLeft wow">
                                <a href="/detail?softId=${item.id}">
                                    <#if item.attach?? && item.attach?length gt 0>
                                        <img class="vcenter" src="${reverseRoute("yun.controllers.common.ImageController","show_img","module","soft","attach",item.attach)}" />
                                        <#else>
                                            <img class="vcenter" src="/assets/web1/images/sypro1.jpg" />
                                    </#if>
                                </a>
                            </div>
                            <div class="syntxt pull-right fadeInRight wow">
                                <span>${item.created}</span>
                                <a class="ntit" href="/detail?softId=${item.id}">${item.name}</a>
                                <p>${item.summary}</p>
                                <a class="detailed" href="/detail?softId=${item.id}">查看更多>></a>
                            </div>
                        </li>
                        <#else>
                            <li class="clearfix">
                                <div class="pic pull-right fadeInRight wow">
                                    <a href="/detail?softId=${item.id}">
                                        <#if item.attach?? && item.attach?length gt 0>
                                            <img class="vcenter" src="${reverseRoute("yun.controllers.common.ImageController","show_img","module","soft","attach",item.attach)}" />
                                            <#else>
                                                <img class="vcenter" src="/assets/web1/images/sypro1.jpg" />
                                        </#if>
                                    </a>
                                </div>
                                <div class="syntxt pull-left fadeInLeft wow">
                                    <span>${item.created}</span>
                                    <a class="ntit" href="/detail?softId=${item.id}">${item.name}</a>
                                    <p>${item.summary}</p>
                                    <a class="detailed" href="/detail?softId=${item.id}">查看更多>></a>
                                </div>
                            </li>
                    </#if>

                </#list>
            </ul>
        </div>
    </div>

    <div class="link">
        <div class="container">
            <span></span>
            <p>
                <em>友情链接</em>
                <a href="/">综合管理云平台</a><i>|</i>
            </p>
        </div>
    </div>
</#macro>
<#macro footer>
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                url:'/api/softList',//地址
                dataType:'json',//数据类型
                type:'GET',//类型
                timeout:2000,//超时
                //请求成功
                success:function(data,status) {
                    var datas = data.allSoft;
                    for(var i = 0;i<datas.length;i++){
                        var top = datas[i];
                        if(top.length>0){
                            var summary = document.getElementById("summary"+(i+1));
                            var attach = document.getElementById("attach"+(i+1));
                            var link = document.getElementById("link"+(i+1));
                            attach.src = '/api/show/img?module=soft&attach='+top[0].attach;
                            summary.innerHTML = top[0].name
                            link.href= '/detail?softId='+top[0].id;
                        }
                    }
                }
            })
        })
    </script>
</#macro>